body {
    background-image: url("1.jpg"); 
    background-size: cover;
    font-family: Arial, sans-serif;
    margin-top: 200px;
  }

  .container {
    margin-top: 200px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
  
  }

  .restaurant-header {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
  }

  .menu-item {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative; /* Add position relative for absolute positioning of the button */
  }

  .menu-item h4 {
    color: #343a40; /* Dark text for item names */
  }

  .menu-item p {
    color: #6c757d; /* Gray text for item descriptions and prices */
    margin-bottom: 10px;
  }

  .menu-item .price {
    color: #28a745; /* Green text for prices */
    font-weight: bold;
  }

  .edit-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    color: #007bff; /* Blue color for the edit symbol */
    cursor: pointer;
  }