<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Ordering Website</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <header class="d-flex justify-content-between align-items-center py-4">
                <h1 style="margin-left: 600px; color: rgb(255, 0, 0); font-weight: bold;" >FoodEzHub </h1>
              
            </header>
        </div>
    </div>
    <div class="row">
        <div class="col-12 overlay">
            <h2>Order Delicious Food Online</h2>
            <p>Welcome to our food ordering website! Order from a variety of cuisines.</p>
            <a href="Csignup" class="btn btn-custom">Register as Customer</a>
            <a href="Rsignup" class="btn btn-custom">Register as Restaurant</a>
            <a href="login" class="btn btn-custom">Login</a>
        </div>
    </div>
</div>

</body>
</html>
