{% extends 'base.html' %}

{% block title %} Menu {% endblock title %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'menu_style.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
{% endblock head %}

{% block body %}
<div class="container">

    <div class="restaurant-header">
        <h2>{{ restaurant.name }}</h2>
        <p>{{ restaurant.address }}</p>
        <p>{{ restaurant.mobile_no }}</p>
        
        <a href="add_item" class="btn btn-primary">Add New Item</a>
    </div>

    {% for item in food_item %}
    <div class="menu-item">
        <img src="{{ item.image.url }}" alt="Image" style="width: 100px;height: 100px;">
        <h4>{{ item.name }}</h4>
        <p class="description">{{ item.description }}</p>
        <p class="price">{{ item.price }}</p>
        <a class="btn btn-link edit-btn" href="{% url 'delete' item.id %}" style="margin-right: 50px;"><i class="fas fa-trash" ></i></a>
        <a class="btn btn-link edit-btn" href="{% url 'edit' item.id %}"><i class="fas fa-edit" ></i></a> <!-- Font Awesome edit icon -->
    </div>
    {% endfor %}
</div>
{% endblock body %}
